# dependencies
node_modules
.pnp
.pnp.js
package-lock.json
yarn.lock

# build
.next
out
build
dist

# misc
.DS_Store
*.pem
.env*.local
.vercel

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# TypeScript
next-env.d.ts

# Supabase CLI
supabase/.temp
